body{
    background-color: rgba(177, 177, 177, 0.541) !important;
    color: black;
}
/* .employeeData{
    background-color: rgba(73, 64, 64, 0.678);
    color: black;
} */
/* .employeeData a{
    color: rgba(0, 81, 255, 0.678);
} */
.card-body{
    background-color: rgba(87, 76, 76, 0.678);
    color: black;
}
.card-header{
    background-color: navy !important;
    color: rgba(255, 255, 255, 0.664);
}
/* .card-body a{
    color: rgba(0, 81, 255, 0.678);
} */
.form-control{
    background-color: rgba(255, 255, 255, 0.664) !important;
}
#checklistBanner{
    background-color: rgba(51,51,51);
}
#start{
    float: right;
}
.data{
    float: right;
}
.navbar{
    background-color: navy !important;
}
.navbar a{
color: white;
}
.link{
    color: blue !important;
}    

/* this is just to test applying styles to all of the pages. Color scheme will change*/